@font-face {
    font-family: "VivaldiD CL";
    src: url("../assets/fonts/VIVADCL_.TTF") format("ttf")
}
@font-face {
    font-family: "Arial Narrow";
    src: url("../assets/fonts/6428.ttf") format("ttf")
}
@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/9041.ttf") format("ttf")
}
@font-face {
    font-family: "Codec Cold Trial News";
    src: url("../assets/fonts/Codec-Cold-News-trial.ttf") format("ttf")
}
@font-face {
    font-family: 'Codec Cold News Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold News Italic'), url('../assets/fonts/codec/Codec-Cold-News-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial News';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold Trial News'), url('../assets/fonts/codec/Codec-Cold-News-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Heavy Trial';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold Heavy Trial'), url('../assets/fonts/codec/Codec-Cold-Heavy-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold Trial Bold'), url('../assets/fonts/codec/Codec-Cold-Bold-trial.woff') format('woff');
}
img{
    max-width: 100%;
}

.home-page #headerId {
    flex:0 0 auto;
    background: url(../assets/images/bg-two.jpg) no-repeat 0 0;
    background-size: 100%;
    min-height: 1149px;
}
.home-page #footerId {
    flex:0 0 auto;
    background: url(../assets/images/bg-footer-home.jpg) no-repeat 0 0;
    background-size: 100%;
    min-height: 1149px;
}

.container-pagination{
    margin-top: 40px;
    margin-bottom: 10px;
    flex:1;
    position: absolute;
    bottom: 0;
    padding-left: 300px;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:#407a80;
    border-color: #407a80;
}
.reviews-page{
    background: url(../assets/images/bg-reviews-total.jpg) no-repeat 100% 100%;
    background-size: cover;
    min-height: 3349px;
}
.bg-light-blue{
    opacity: .9;
    position: relative;
    padding: 1rem 1rem;
    z-index: 10;
}
.content-city-header{
    margin-left: 400px;
}
.container-inner-top{
     width: 100%;
     height: 40px;
     background-color:#7f979b;
     opacity: .6;
     padding-top: 3px;
     padding-right: 200px;
 }
.container-inner-top a:nth-child(1){
     margin:0 5px;
     color: #fff;
     background: transparent;
     text-transform: none;
     text-decoration: none;
     font-family: 'Codec Cold Trial News';
     font-size: 12px;
     font-weight: 700;
 }
.container-inner-top a:nth-child(2){
    margin:0 5px;
    color: #fff;
    background: transparent;
    font-family:"Arial";
    font-size: 12px;
    text-decoration: none;
}
.container-inner-top a:nth-child(3){
    margin:0 5px;
    color: #fff;
    background: transparent;
    font-family:"Arial";
    font-size: 12px;
    text-decoration: none;
}
.fa-facebook-square{
    color:#23589c;!important;

}
.fa-facebook-square:hover{
     color:#fff;
 }
.fa-instagram{
    color:red;
}
.fa-instagram:hover{
    color:#fff;
}
.fa-telegram{
    color:#00b5e9;
}
.fa-telegram:hover{
    color:#fff;
}
#footerId .social,#headerId .social{
    line-height: 1;
}

#footerId .social a, #headerId .social a{
    width: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    height: 17px;
    box-sizing: border-box;


}

#footerId .social a:hover,#headerId .social a:hover{
    color:#000000 ;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #404f6e;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link{
    color: #404f6e;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:red;
}
.box-1{
    min-height: 860px;
    display: flex;
    align-items: center;
}
.box-1 h3 {
    font-size: 24px;
    font-family: 'Codec Cold Heavy Trial';
    color: rgb(10, 13, 17);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}
.box-1 h1 {
    font-size: 60px;
    font-family: 'Codec Cold Heavy Trial';
    color: rgb(251, 245, 245);
    font-variant: small-caps;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.box-1 p{
    font-size: 14px;
    font-family: 'Codec Cold Trial News';
    color: rgb(251, 245, 245);
    line-height: 1.429;
    text-align: left;
}

.box-1 h4{
    font-size: 28px;
    font-family: 'Codec Cold Trial News';
    color: rgb(251, 248, 248);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}
.box-1 h4 span{
    font-size: 28px;
    font-family: "Arial";
    color: rgb(251, 245, 245);
    line-height: 1.2;
    text-align: left;
    position: relative;
}
.btn {
    display: inline-block;
    font-weight: 700;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-default{
    background: #bfbf3a;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    border-radius: 3px;
    padding: .375rem 3.75rem;
    margin-right: 100px;
}
.box-3-about-1 h2{
    padding-top: 5px;
    font-family: 'Codec Cold Heavy Trial';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    color: #fff;
}
.box-3-about-1 p{
    font-family: 'Codec Cold Trial News';
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.base-color-box-3{
    width: 100%;
    background-color: #407a80;
}
.base-color-box-4{
    width: 100%;
    background-color: #fff;
}
.base-color-box-4 img{
    display: block;
    margin: 0 auto 20px auto;
}
.box-5-prices{
    flex:0 0 auto;
    background: url(../assets/images/wheel.jpg) no-repeat 0 0;
    background-size: cover;
    padding-bottom: 40px;
}
.box-5-prices h5{
    padding-top: 5px;
    font-family: 'Codec Cold Heavy Trial';
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: relative;
    color: #fff;
}
.box-5-prices p{
    font-family: 'Codec Cold Heavy Trial';
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    position: relative;
    color: #fff;
}
.base-color-box-5{
    background-color: rgb(114, 136, 143);
    opacity: 0.678;
    margin: 20px -15px;
}
.base-color-box-5 p{
    font-family: 'Codec Cold Trial News';
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.base-color-box-5 p span {
    font-size: 20px;
    font-family: "Arial";
    color: #fff;
    line-height: 1.2;
    text-align: left;
    position: relative;
}
.text{
    font-size: 40px;
    font-family: 'Codec Cold Trial Bold';
    background: linear-gradient(to right, #53787D 0%, #5a8088 50%, #9BB1B4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: table;
    margin: 20px auto;
    line-height: 1.2;
    font-weight: 700;
}
.box-6-sign-context p{
    font-family: 'Codec Cold Heavy Trial';
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    position: relative;
    display: table;
    margin: 20px auto;
    background: linear-gradient(to right, #53787D 0%, #5a8088 50%, #9BB1B4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.box-6-sign{
    padding: 40px 0;
}
.box-6-sign form{
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    box-shadow: 0 0 22px 3px rgba(0,0,0,0.7), inset 0 0 15px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 30px;
    margin: 30px 0;
}
.box-6-sign h2{
    font-family: "Tahoma";
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 20px 0 30px 0;
    color: rgb(74, 88, 116);
}
.box-6-sign h2:before{
    content: '';
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    border-top: 2px #ddd solid;
}
.box-6-sign h2 span {
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.box-6-sign input[type="text"]{
    background: #c1c7d0;
}
.box-6-sign input[type="tel"]{
    background: #c1c7d0;
}
.box-6-sign .form-group{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.box-6-mt{
    margin-top: 45px !important;
}

.invert{
    border: 1px #bfbf3a solid;
    background: #fff;
    margin: auto;
    display: table;
}

.base-color-box-7{
    background-color:#407a80;
    padding: 10px 0;
    font-family: 'Codec Cold Heavy Trial';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.box-7-reviews-box-1-reviews p{
    font-size: 14px;
    font-family: 'Codec Cold Trial News';
    color: rgb(64, 122, 128);
    line-height: 1.2;
    text-align: left;
}
.base-color-footer p{
    color: #000304;
    font-family: 'Codec Cold Trial News';
    font-size: 14px;
    text-align: left;
}
.base-color-footer h2{
    color: #000304;
    font-family: 'Codec Cold Heavy Trial';
    font-size: 18px;
    text-align: left;
}
#footerId .box-7-reviews-box-1{
    border-width: 2px;
    border-color: rgb(106, 110, 118);
    border-style: solid;
    margin: 0 3px;
    padding: 5px;
}
#footerId .box-7-reviews-box-1 p{
    color: #404f6e;
    font-family: 'Codec Cold Trial News';
    font-size: 10px;
    text-align: left;
}
#footerId .box-7-reviews-box-1 h5{
    font-family: "Arial";
    color: rgb(64, 122, 128);
    font-size: 11px;
    line-height: 1.2;
    text-align: left;
    padding: 0 14px;
}
#footerId h6{
    font-family: 'Codec Cold Heavy Trial';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    color: #000000;
}
.base-color-footer{
    display: flex;
    flex-direction: row;
    padding: 23px;
    margin: 45px 0 0 0;
    background-color:#fff;
    opacity: .6;
    position: relative;
    z-index: 10;
    height: 426px;
}
.footer-block{
    margin-top: 120px;
}

.content-city a:nth-child(1){
    margin:0 5px;
    color: #fff;
    background: transparent;
    text-transform: none;
    text-decoration: none;
    font-family: 'Codec Cold Trial News';
    font-size: 12px;
}
.content-city  a:nth-child(2){
    margin:0 5px;
    color: #fff;
    background: transparent;
    font-family:"Arial";
    font-size: 12px;
    text-decoration: none;
}
.content-city a:nth-child(3){
    margin:0 5px;
    color: #fff;
    background: transparent;
    font-family:"Arial";
    font-size: 12px;
    text-decoration: none;
}
.content h3{
    font-family: 'Codec Cold Heavy Trial';
    font-size: 24px;
    color:#407a80;
    text-transform: uppercase;
    text-align: left;
}
.content span{
    font-family: 'Tahoma';
    font-size: 14px;
    color:#252525;
    font-weight: 700;
    text-align: left;
}
.content p{
    font-family: 'Tahoma';
    font-size: 14px;
    color:#252525;
    text-align: left;
}

.navbar-light .navbar-toggler{
    background: #407a80;
}

.footerId-rights p{
    font-family: "Tahoma";
    font-size: 11px;
    color: #fff;
}
 #footerId .nav-link.active, #footerId .nav-link.show {
    color: #fff;
    font-family: 'Codec Cold Trial News';
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
#footerId .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
#footerId .nav-link:focus,
#footerId .nav-link:hover {
    color:red;
}
#mini-headerId .mini-header-nav{
    color: #fff;
}
.container.reviews {
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    min-height: 2600px;
    margin-top: 20px;
    padding: 60px;
    position: relative;
}
.reviews h3{
    font-family: 'Codec Cold Heavy Trial';
    font-size: 24px;
    color:#407a80;
    text-align: left;
}
.container-reviews-send{
    background: #e8e8e8;
    padding: 60px;

}
.container-reviews-send a{
    color:#bfbf3a;
}
.container-reviews-receive{
    background: #e8e8e8;
    padding: 30px;
    margin-bottom: 60px;

}
.container-reviews-answer{
    background: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px;
    border: 1px solid #495057;
}
.container-reviews-admin-receive{
    background: #e8e8e8;
    padding: 30px;

}
.name-container-reviews-receive{
    margin-top: 20px;
    padding-left: 43px;
    padding-right: 63px;
    padding-bottom: 10px;
}
.name-container-reviews-answer{
    margin-top: 60px;
    margin-left: 20px;
    padding-left: 43px;
    padding-bottom: 10px;
}
.form-control-r{
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-review{
    color: #fff;
    margin-right: 3px;
    margin-left: 15px;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
}
.col-form-label {
     padding-top: calc(.375rem + 1px);
     padding-bottom: calc(.375rem + 1px);
     margin-bottom: 0;
    color: rgb(0, 2, 2);
    font-family: 'Codec Cold Trial News';
    line-height: 1.2;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}
.col-form-label span{
    color: rgb(198, 42, 60);
}
.fa-star{
    color:#bfbf3a;
}
.wrap{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    font-family: "CodecColdTrial";
    line-height: 1.2;
    background: #fff;
    display: flex;
    flex-direction: column;
    color:#407a80;
    font-weight: 700;
    width: 350px;
    height: 250px;
    border: 1px #333 solid;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.popup .fa-close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.slick-next:before{
    content:'>'
}

.slick-prev:before{
    content:'<'
}

.slick-prev:before, .slick-next:before{
    color: #407a80;
    font-size: 48px;
    font-family: 'Arial';

}
.slick-prev, .slick-next{
    top: 42%
}
.slick-prev {
    left: -35px;
}
































@media screen and (max-width: 1400px){
    .box-1{
        min-height: 700px;
    }
    .reviews-page{
        background: url(../assets/images/bg-reviews-header-2.jpg) no-repeat 0 0,
        url(../assets/images/bg-footer-home.jpg) no-repeat 0 100%;
        background-size: 100% auto;
        min-height: 2249px;
    }
}

@media screen and (max-width: 1200px){
    .box-1{
        min-height: 500px;
    }
}

@media screen and (max-width: 992px){
    .box-1{
        min-height: 450px;
    }
    .box-1 h1{
        font-size: 45px;
    }
    .box-1 h4{
        font-size: 25px;
    }
}

@media screen and (max-width: 768px){
    .box-1{
        min-height: 500px;
    }
    .home-page #headerId{
        background-size: auto;
        background-position: 50% 0;
        background-image: url(../assets/images/bg-two-mobile.jpg);
    }

    .box-1 h1{
        font-size: 35px;
    }
    .box-1 h3{
        color: #fff;
    }
    header .navbar-nav{
        background: #407a80;
        padding: 24px;
    }
    header .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link.active{
        color: #fff;
    }
    .container-inner-top a{display: inline-block !important}
    .base-color-box-5{
        margin: 20px 0 40px 0;
    }
    .box-6-sign .form-group{
        width: 100%;
    }
}
