@font-face {
    font-family: "VivaldiD CL";
    src: url("../assets/fonts/VIVADCL_.TTF") format("ttf")
}
@font-face {
    font-family: "Arial Narrow";
    src: url("../assets/fonts/6428.ttf") format("ttf")
}
@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/9041.ttf") format("ttf")
}
@font-face {
    font-family: "Codec Cold Trial News";
    src: url("../assets/fonts/Codec-Cold-News-trial.ttf") format("ttf")
}
@font-face {
    font-family: 'Codec Cold News Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold News Italic'), url('../assets/fonts/codec/Codec-Cold-News-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial News';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold Trial News'), url('../assets/fonts/codec/Codec-Cold-News-trial.woff') format('woff');
}
img{
    max-width: 100%;
}
.home-page #headerId {
    flex:0 0 auto;
    background: url(../assets/images/bg-two.jpg) no-repeat 0 0;
    background-size: 100%;
    min-height: 1149px;

}
.bg-light-blue{
    opacity: .9;
    position: relative;
    padding: 1rem 1rem;
    z-index: 10;
}

.container-inner-top{
     width: 100%;
     height: 30px;
     background-color:#7f979b;
     opacity: .6;
     position: relative;
     z-index: 10;
 }
.container-inner-top a:nth-child(1){
     margin:0 5px;
     color: #fff;
     background: transparent;
     text-transform: none;
     text-decoration: none;
     font-family: 'Codec Cold Trial News';
     font-size: 12px;
     font-weight: 700;
 }
.container-inner-top a:nth-child(2){
    margin:0 5px;
    color: #fff;
    background: transparent;
    font-family:"Arial";
    font-size: 12px;
    text-decoration: none;
}
.container-inner-top a:nth-child(3){
    margin:0 5px;
    color: #fff;
    background: transparent;
    font-family:"Arial";
    font-size: 12px;
    text-decoration: none;
}

.social a{
    width: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    height: 17px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.5), inset 0 0 15px rgba(0,0,0,0.5);
}
.social a:hover{
    color:#fff ;
    background:#000000;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #404f6e;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link {
    color: #404f6e;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:red;
}
.box-0{
    min-height: 129px;
}
.box-02{
    min-height: 289px;
}
.btn {
    display: inline-block;
    font-weight: 700;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-default{
    background: #bfbf3a;
    text-transform: uppercase;
    font-family: 'Codec Cold Trial News';
    border-radius: 3px;
    padding: .375rem 3.75rem;
    margin-right: 100px;
}
.base-color-box-3{
    width: 100%;
    height: 70px;
    background-color: #407a80;
}
.base-color-box-4{
    width: 100%;
    height: 364px;
    background-color: #fff;
}